#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --color-bg: white;
  --color-menu-icons: rgb(0, 0, 0);
  --color-menu-hover: rgb(113, 113, 113);
  --text-color: black;
  --button-color: lightgrey;
  --color-secondary-bg: rgb(244, 244, 244);
  --color-third-bg: lightgrey;
}

[data-theme="dark"] {
  --color-bg: black;
}