#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --color-bg: white;
  --color-menu-icons: rgb(0, 0, 0);
  --color-menu-hover: rgb(113, 113, 113);
  --text-color: black;
  --button-color: lightgrey;
}

[data-theme="dark"] {
  --color-bg: black;
}

.page-block {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 93vw;
  /* background-color: blue; */
  border-style: none;
  border-width: 5px;
  border-color: black;
  right: 0;
}

@media screen and (max-width: 1100px) {
  #navigation-bar {
    width: 8vw;
  }

  .page-block {
    width: 92vw;
  }
}


@media screen and (max-width: 768px) {
  #navigation-bar {
    width: 10vw;
  }

  .page-block {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  #navigation-bar {
    width: 15vw;
  }

  .nav-tab {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1em;
  }

  .page-block {
    width: 85vw;
  }
}