:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#navigation-bar {
  /* box-shadow: 5px 0 grey; */
  background-color: var(--color-secondary-bg);
  height: 99vh;
  overflow-y: hidden;
  width: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  padding-top: 1vh;
}

/* @media screen and (max-width: 1100px) {
  #navigation-bar {
      width: 8vw;
  }
}


@media screen and (max-width: 768px) {
  #navigation-bar {
      width: 10vw;
  }
}

@media screen and (max-width: 500px) {
  #navigation-bar {
      width: 15vw;
  }

  .nav-tab {
      padding-top: 2vh;
      padding-bottom: 2vh;
      font-size: 1em;
  }
} */


#nav-bar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.nav-tab {
  font-size: 1.8em;
  /* padding-left: 0.5em; */
  /* padding-right: 0.5em; */
  padding-top: 25%;
  padding-bottom: 25%;
  color: var(--color-menu);
  /* display: block; */
  width: 100%;
}

.nav-tab:hover {
  color: var(--color-menu-hover);
  cursor: pointer;
}

.nav-social:hover {
  color: var(--color-menu-hover);
  cursor: pointer;
}

.nav-social {
  color: var(--color-menu);
  margin-bottom: 20%;
  width: 4vw;
  font-size: 1.1em;
  margin-left: 0.5vw;
  display: inline-block;
}

.page-block {
  height: 100vh;
  position: absolute;
  top: 0;
  padding-top: 2vh;
  width: 95vw;
  margin-top: -2vh;
  /* background-color: blue; */
  border-style: none;
  border-width: 5px;
  border-color: black;
  right: 0;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  #navigation-bar {
    width: 8vw;
  }

  .page-block {
    width: 92vw;
  }
}


@media screen and (max-width: 768px) {
  #navigation-bar {
    width: 10vw;
  }

  .page-block {
    width: 90vw;
  }

  .nav-tab {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 500px) {
  #navigation-bar {
    width: 15vw;
  }

  .nav-tab {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1em;
  }

  .page-block {
    width: 87vw;
  }
}